@page "/"
@using GameLogic
@inject NavigationManager Navigation
@implements IDisposable

<PageTitle>Home</PageTitle>

<form @onsubmit:preventDefault=true @onsubmit=CreateGame>
  <label class="form-label">
    New Game <input class="form-control" type="text" @bind=userInputGameName>
  </label>
</form>

@foreach (var game in Lobby.Games)
{
  <div>
  @game.Name
  <button class="btn btn-primary" @onclick="() => JoinGame(game.Name)">Join Game</button>
</div>
}


@code {
  private string userInputGameName = "";

  private void CreateGame()
  {
    var game = Lobby.CreateGame(userInputGameName);
    userInputGameName = "";

    var playerId = game.JoinGame();

    Navigation.NavigateTo($"/game/{game.Name}/player/{playerId}");
  }
  
  private void JoinGame(string gameName)
  {
    var game = Lobby.Games.Find(g => g.Name == gameName) ?? throw new Exception($"could not find game with name ${gameName}");
    var playerId = game.JoinGame();
    Navigation.NavigateTo($"/game/{game.Name}/player/{playerId}");
  }

  protected override void OnInitialized()
  {
    Lobby.OnLobbyUpdate += Refresh;
  }
  private void Refresh()
  {
    InvokeAsync(StateHasChanged);
  }
  public void Dispose()
  {
    Lobby.OnLobbyUpdate -= Refresh;
  }
}