@using GameLogic

@code {
   [Parameter]
   public TankState tank { get; set; }
   private const string transitionConst = "transition: all 0.1s linear";
   private int size = 60;
   private string color1 = "FFE100";
   protected override void OnParametersSet()
   {
      color1 = GenerateColorFromGuid(tank.Id);
   }
   static string GenerateColorFromGuid(Guid guid)
   {
      byte[] bytes = guid.ToByteArray();
      int r = bytes[0];
      int g = bytes[1];
      int b = bytes[2];
      return $"#{r:X2}{g:X2}{b:X2}";
   }
}


@if (tank != null)
{
   <div style=@($@"{transitionConst}; position: absolute; top: {tank.PositionY - 50}px; left: {tank.PositionX}px; width:
   fit-content;" )>
   <div>
      @tank.Id
   </div>
   <svg style=@($"{transitionConst}; transform: rotate({tank.Angle }deg);") width=@($"{size}px") height=@($"{size}px")
      version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 512 512" xml:space="preserve">
      <g transform="translate(1 1)">
         <path style="fill:#63D3FD;" d="M101.4,101.4c0,14.507-11.093,25.6-25.6,25.6s-25.6-11.093-25.6-25.6s11.093-25.6,25.6-25.6
		S101.4,86.893,101.4,101.4" />
         <path style="fill:#FFFFFF;" d="M67.267,101.4c0-11.093,6.827-20.48,17.067-23.893c-2.56-0.853-5.12-1.707-8.533-1.707
		c-14.507,0-25.6,11.093-25.6,25.6S61.293,127,75.8,127c3.413,0,5.973-0.853,8.533-1.707C74.093,121.88,67.267,112.493,67.267,101.4
		" />
         <g>
            <path style=@($"fill:{color1};") d="M84.333,306.2c-5.12,0-8.533-3.413-8.533-8.533V127c0-5.12,3.413-8.533,8.533-8.533
			s8.533,3.413,8.533,8.533v170.667C92.867,302.787,89.453,306.2,84.333,306.2z" />
            <path style=@($"fill:{color1};") d="M368.493,229.4l19.627,34.133h105.813c5.12,0,8.533-3.413,8.533-8.533v-17.067
			c0-5.12-3.413-8.533-8.533-8.533H368.493z" />
         </g>
         <path style="fill:#FFA800;" d="M493.933,229.4h-25.6c5.12,0,8.533,3.413,8.533,8.533V255c0,5.12-3.413,8.533-8.533,8.533h25.6
		c5.12,0,8.533-3.413,8.533-8.533v-17.067C502.467,232.813,499.053,229.4,493.933,229.4" />
         <path style=@($"fill:{color1};") d="M434.2,434.2H75.8c-37.547,0-68.267-30.72-68.267-68.267l0,0c0-37.547,30.72-68.267,68.267-68.267
		h358.4c37.547,0,68.267,30.72,68.267,68.267l0,0C502.467,403.48,471.747,434.2,434.2,434.2" />
         <path style="fill:#FFFFFF;" d="M33.133,365.933c0-37.547,30.72-68.267,68.267-68.267H75.8c-37.547,0-68.267,30.72-68.267,68.267
		S38.253,434.2,75.8,434.2h25.6C63.853,434.2,33.133,403.48,33.133,365.933" />
         <path style="fill:#FFA800;" d="M476.867,365.933c0-37.547-30.72-68.267-68.267-68.267h25.6c37.547,0,68.267,30.72,68.267,68.267
		S471.747,434.2,434.2,434.2h-25.6C446.147,434.2,476.867,403.48,476.867,365.933" />
         <path style=@($"fill:{color1};") d="M408.6,297.667H101.4l54.613-93.867c3.413-5.12,8.533-8.533,14.507-8.533h168.107
		c5.973,0,11.947,3.413,14.507,8.533L408.6,297.667z" />
         <g>
            <path style="fill:#00DA6C;" d="M144.067,365.933c0,18.773-15.36,34.133-34.133,34.133S75.8,384.707,75.8,365.933
			S91.16,331.8,109.933,331.8S144.067,347.16,144.067,365.933" />
            <path style="fill:#00DA6C;" d="M289.133,365.933c0,18.773-15.36,34.133-34.133,34.133s-34.133-15.36-34.133-34.133
			S236.227,331.8,255,331.8S289.133,347.16,289.133,365.933" />
            <path style="fill:#00DA6C;" d="M434.2,365.933c0,18.773-15.36,34.133-34.133,34.133s-34.133-15.36-34.133-34.133
			s15.36-34.133,34.133-34.133S434.2,347.16,434.2,365.933" />
         </g>
         <g>
            <path style="fill:#00AD55;"
               d="M400.067,331.8c-2.56,0-5.973,0.853-8.533,0.853c14.507,3.413,25.6,17.067,25.6,33.28
			s-11.093,29.013-25.6,33.28c2.56,0.853,5.973,0.853,8.533,0.853c18.773,0,34.133-15.36,34.133-34.133S418.84,331.8,400.067,331.8" />
            <path style="fill:#00AD55;"
               d="M255,331.8c-2.56,0-5.973,0.853-8.533,0.853c14.507,3.413,25.6,17.067,25.6,33.28
			s-11.093,29.013-25.6,33.28c2.56,0.853,5.973,0.853,8.533,0.853c18.773,0,34.133-15.36,34.133-34.133S273.773,331.8,255,331.8" />
            <path style="fill:#00AD55;" d="M109.933,331.8c-2.56,0-5.973,0.853-8.533,0.853c14.507,3.413,25.6,17.067,25.6,33.28
			s-11.093,29.013-25.6,33.28c2.56,0.853,5.973,0.853,8.533,0.853c18.773,0,34.133-15.36,34.133-34.133S128.707,331.8,109.933,331.8
			" />
         </g>
         <path d="M434.2,442.733H75.8c-42.667,0-76.8-34.133-76.8-76.8s34.133-76.8,76.8-76.8h358.4c42.667,0,76.8,34.133,76.8,76.8
		S476.867,442.733,434.2,442.733z M75.8,306.2c-33.28,0-59.733,26.453-59.733,59.733S42.52,425.667,75.8,425.667h358.4
		c33.28,0,59.733-26.453,59.733-59.733S467.48,306.2,434.2,306.2H75.8z" />
         <path d="M408.6,306.2H101.4c-3.413,0-5.973-1.707-7.68-4.267s-1.707-5.973,0-8.533l54.613-93.867c4.267-7.68,12.8-12.8,22.187-12.8
		h168.107c9.387,0,17.92,5.12,22.187,12.8l54.613,93.867c1.707,2.56,1.707,5.973,0,8.533C413.72,304.493,412.013,306.2,408.6,306.2z
		 M115.907,289.133H393.24l-46.933-81.067c-1.707-2.56-4.267-4.267-7.68-4.267H170.52c-3.413,0-5.973,1.707-7.68,4.267
		L115.907,289.133z" />
         <path d="M109.933,408.6c-23.893,0-42.667-18.773-42.667-42.667c0-23.893,18.773-42.667,42.667-42.667S152.6,342.04,152.6,365.933
		C152.6,389.827,133.827,408.6,109.933,408.6z M109.933,340.333c-14.507,0-25.6,11.093-25.6,25.6s11.093,25.6,25.6,25.6
		s25.6-11.093,25.6-25.6S124.44,340.333,109.933,340.333z" />
         <path d="M255,408.6c-23.893,0-42.667-18.773-42.667-42.667c0-23.893,18.773-42.667,42.667-42.667s42.667,18.773,42.667,42.667
		C297.667,389.827,278.893,408.6,255,408.6z M255,340.333c-14.507,0-25.6,11.093-25.6,25.6s11.093,25.6,25.6,25.6
		c14.507,0,25.6-11.093,25.6-25.6S269.507,340.333,255,340.333z" />
         <path
            d="M400.067,408.6c-23.893,0-42.667-18.773-42.667-42.667c0-23.893,18.773-42.667,42.667-42.667
		c23.893,0,42.667,18.773,42.667,42.667C442.733,389.827,423.96,408.6,400.067,408.6z M400.067,340.333
		c-14.507,0-25.6,11.093-25.6,25.6s11.093,25.6,25.6,25.6c14.507,0,25.6-11.093,25.6-25.6S414.573,340.333,400.067,340.333z" />
         <path d="M493.933,272.067h-104.96c-3.413,0-5.973-1.707-7.68-4.267l-19.627-34.133c-1.707-2.56-1.707-5.973,0-8.533
		s4.267-4.267,6.827-4.267h125.44c9.387,0,17.067,7.68,17.067,17.067V255C511,264.387,503.32,272.067,493.933,272.067z M393.24,255
		h100.693v-17.067h-110.08L393.24,255z" />
         <path d="M75.8,306.2c-5.12,0-8.533-3.413-8.533-8.533V127c0-5.12,3.413-8.533,8.533-8.533c5.12,0,8.533,3.413,8.533,8.533v170.667
		C84.333,302.787,80.92,306.2,75.8,306.2z" />
         <path d="M75.8,135.533c-18.773,0-34.133-15.36-34.133-34.133S57.027,67.267,75.8,67.267s34.133,15.36,34.133,34.133
		S94.573,135.533,75.8,135.533z M75.8,84.333c-9.387,0-17.067,7.68-17.067,17.067s7.68,17.067,17.067,17.067
		s17.067-7.68,17.067-17.067S85.187,84.333,75.8,84.333z" />
         <path d="M306.2,255H197.827c-5.12,0-8.533-3.413-8.533-8.533c0-5.12,3.413-8.533,8.533-8.533H306.2c5.12,0,8.533,3.413,8.533,8.533
		C314.733,251.587,311.32,255,306.2,255z" />
      </g>
   </svg>
</div>
}